.createnft {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, #696594 0%,#b86093 100%);
  /* height: 100vh; */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width:100%;
}

.nfts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
@media only screen and (max-width: 768px) {
.box {
  position: relative;
  background: rgba(225, 225, 225, 0.227);
  background: -moz-radial-gradient(90deg, #d47592,#101327,#455382,#e88b33 #85445e);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(225, 225, 225, 0.586);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  border-radius: 20px;
  z-index: 10;
  padding: 20px;
  backdrop-filter: blur(5px);
  display: grid;

  min-height: 100%;
  width: 90%;
  padding: 10px;
  }
}


.createnft-img {
  width: 20em;
}

.c {
  width: 22em;
}

.create-pt {
  color: rgb(117, 12, 12);
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  padding: 0.3em;
}

.input {
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.69em;
}

.upload-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  background: linear-gradient(90deg,  #ec7607 0%,#812953 100%); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.upload-img {
  width: 40%;
  height: 60%;
}

.list-nft-btn:disabled {
  background: whitesmoke;
}